* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* MAP STYLING *****************************************************************/

#map-canvas {
  height: 100%;
}

#map-canvas img {
  max-width: none;
}

@-webkit-keyframes ping {
  from {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    opacity: 1.0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ping {
  from {
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
    opacity: 1.0;
  }

  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

#map-canvas .ping {
  -webkit-animation: ping 1.5s ease;
  animation: ping 1.5s ease;
  border: 6px solid #fff;
  -webkit-box-shadow: inset 0 0 5px #FA0096;
  box-shadow: inset 0 0 5px #FA0096;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 20px;
}

@-webkit-keyframes pop-in {
  from {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop-in {
  from {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

#map-canvas .map-tweet {
  -webkit-animation: pop-in 0.25s ease;
  animation: pop-in 0.25s ease;
  background: #333;
  border: 3px solid #333;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 20px;
}

/* SIDEBAR STYLING ****************************************************************/

.sidebar {
  border-top-left-radius: 80px;
  position: absolute;
  top: 0px;
  margin-left: 40px;
  width: 360px;
  height: 100%;
  z-index: 10;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.sidebar-header {
  margin-left: 20px;
  background: rgba(255, 50, 220, 0.9);
  height: 40px;
}

.oura-logo {
  position: relative;
  top: -38px;
  left: -78px;
}

.oura-logo img {
  height: 116px;
  width: auto;
}

.profile-group {
  float: right;
  height: 100%;
  width: auto;
}

.profile-group:hover {
  text-decoration: none;
}

.profile-button {
  position: absolute;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-username {
  overflow: hidden;
  max-width: 0px;
  margin-top: 9px;
  margin-right: 25px;
  text-align: right;
  white-space: nowrap;
  color: #fff;
  -webkit-transition: max-width 0.3s ease;
  transition: max-width 0.3s ease;
}

.profile-group:hover .profile-username {
  max-width: 100px;
}

.sidebar-content {
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.sidebar-tweets {
  padding-left: 20px;
  margin-left: -20px;
  height: 100%;
  overflow-y: scroll;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* SIDEBAR-TWEET STYLING *****************************************************************/

.stweet {
  -webkit-animation: fadein 1s ease;
  animation: fadein 1s ease;
  display: block;
  position: relative;
  padding: 12px 12px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.stweet:first-child {
  padding-top: 20px;
}

.stweet:hover {
  background: rgba(0, 0, 0, 0.05);
}

.stweet-content {
  margin-left: 20px;
}

.stweet-profile-group:hover {
  text-decoration: none;
}

.stweet-name {
  color: #333;
  font-size: inherit;
}

.stweet-profile-group:hover .stweet-name {
  text-decoration: underline;
}

.stweet-screen-name {
  font-size: 12px;
  color: #999;
}

.stweet-profile-img {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid #333;
  background: #333;
}

.stweet-text {
  font-size: inherit;
  white-space: pre-wrap;
  margin-bottom: 0;
}

.stweet-text a {
  font-size: inherit;
  color: #0084B4;
}

/* MAPBOX STYLING *****************************************************************/

.mapbox {
  z-index: 1000;
}

.mapbox-content {
  position: absolute;
  top: -20px;
  left: 10px;
  overflow: hidden;
  width: 320px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mapbox-arrow {
  position: absolute;
  top: -10px;
  left: -10px;
  border-color: transparent rgba(255, 255, 255, 0.9) transparent transparent;
  border-style: solid;
  border-width: 10px;
}

.mapbox-arrow-shadow {
  position: absolute;
  top: -11px;
  left: -12px;
  border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
  border-style: solid;
  border-width: 11px;
}

/* MAPBOX TWEET STYLING *****************************************************************/

.mtweet {
  cursor: default;
  display: block;
  position: relative;
  padding: 8px 12px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}

.mtweet:hover {
  background: rgba(0, 0, 0, 0.05);
}

.mtweet-profile-group:hover {
  text-decoration: none;
}

.mtweet-name {
  font-size: inherit;
  color: #333;
}

.mtweet-profile-group:hover .mtweet-name {
  text-decoration: underline;
}

.mtweet-screen-name {
  color: #999;
}

.mtweet-time {
  color: #999;
  float: right;
}

.mtweet-text {
  white-space: pre-wrap;
  font-size: inherit;
  margin-bottom: 0;
}

.mtweet-text a {
  color: #0084B4;
  font-size: inherit;
}

/* MEDIA QUERIES ****************************************************************/

@media (max-width: 978px) {
  body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    top: 55%;
    height: 45%;
  }

  .stweet {
    padding: 6px 12px;
    font-size: 12px;
  }
}