* {
  box-sizing: border-box;
}

html, body{
  height:100%; 
}

/* MAP STYILING */
#map-canvas {
  height: calc(100% - 62px);
}

#map-canvas img {
  max-width: none;
}

@-webkit-keyframes ping {
  from {
    -webkit-transform: scale(0.25);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

#map-canvas .ping {
  -webkit-animation: ping 1.5s ease;
  border: 6px solid #fff;
  box-shadow: inset 0 0 5px #FA0096;

  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px; 
  border-radius: 20px;
}

@-webkit-keyframes pop-in {
  from {
    -webkit-transform: scale(0.7);
  }
  to {
    -webkit-transform: scale(1.0);
  }
}

#map-canvas .map-tweet {
  -webkit-animation: pop-in 0.25s ease;
  background: #333;
  border: 3px solid #333;

  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px; 
  border-radius: 20px;
}

/* TOP BAR STYLING */
.top-bar {
  width: 100%;
  height: 62px;
  background: #333333;
}

#logo {
  background: url('/img/oura-logo.png') no-repeat;
  display: inline-block;
  margin-left: 9px;
  height: 62px;
  width: 130px;
}

/* SHELF STYLING */
.sidebar {
  position: absolute;
  top: 62px;
  left: -1px;
  width: 380px;
  height: calc(100% - 62px);
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: left 0.3s ease;
}

.sidebar.closed {
  left: -380px;
}

.sidebar-content{
  position: absolute;
  width: 380px;
  padding: 0 10px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sidebar-handle {
  position: absolute;
  top: 0px;
  right: -49px;
  width: 49px;
  height: 49px;
  color: #ccc;
}
.sidebar-handle:hover {
}

@-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; 
    }
}

/* SIDEBAR-TWEET STYLING */

.stweet {
  -webkit-animation: fadein 1s ease;
  display: block;
  position: relative;
  margin-top: 10px;
  padding: 9px 12px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.stweet:hover {
  background: #F5F5F5;
}

.stweet-content {
  margin-left: 50px;
}

.stweet-profile-group:hover {
  text-decoration: none;
}

.stweet-name {
  color: #333;
}

.stweet-profile-group:hover .stweet-name {
  text-decoration: underline;
}

.stweet-screen-name {  
  font-size: 12px;
  color: #999;
}

.stweet-profile-img {
  float: left;
  margin-top: 3px;
  margin-left: -48px;
  width: 34px;
  height: 34px;
  border-radius: 19px;
}

.stweet-text {
  white-space: pre-wrap;
}

.stweet-text a {
  color: #0084B4;
}

/* MAPBOX STYLING */
.mapbox {
  z-index: 1000;
}

.mapbox-content {
  position: absolute;
  top: -20px;
  left: 10px;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.mapbox-arrow {
  position: absolute;
  top: -10px;
  left: -10px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 10px;
}

.mapbox-arrow-shadow {
  position: absolute;
  top: -11px;
  left: -12px;
  border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
  border-style: solid;
  border-width: 11px;
}

/* MAPBOX TWEET STYLING */

.mtweet {
  display: block;
  position: relative;
  padding: 3px 8px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #EDEDED;
}

.mtweet-profile-group:hover {
  text-decoration: none;
}

.mtweet-name {
  font-size: 12;
  color: #333;
}

.mtweet-profile-group:hover .mtweet-name {
  text-decoration: underline;
}

.mtweet-screen-name {  
  color: #999;
}

.mtweet-time {
  color: #999;
  float: right;
}

.mtweet-text {
  white-space: pre-wrap;
  font-size: 12;
}

.mtweet-text a {
  color: #0084B4;
  font-size: inherit;
}

@media (max-width: 978px) {
    body {
      padding:0;
    }
}