* {
  box-sizing: border-box;
}

html, body{
  height:100%; 
}

/* MAP STYILING */
#map-canvas {
  height: calc(100% - 62px);
}

#map-canvas img {
  max-width: none;
}

@-webkit-keyframes ping {
  from {
    -webkit-transform: scale(0.25);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

/* a semi hack to get the div of the ping markers */
#map-canvas div.gmnoprint[title="ping"] {
  -webkit-animation: ping 1.5s ease;
  border: 6px solid #fff;
  box-shadow: inset 0 0 5px #FA0096;

  width: 40px !important;
  height: 40px !important;  
  margin-left: -20px;
  margin-top: -20px; 
  border-radius:20px;
}

/* TOP BAR STYLING */
.top-bar {
  width: 100%;
  height: 62px;
  background: #333333;
}

#logo {
  background: url('/img/oura-logo.png') no-repeat;
  display: inline-block;
  float: left;
  height: 62px;
  width: 130px;
}

/* SHELF STYLING */
.shelf {
  position: absolute;
  top: 62px;
  left: -380px;
  width: 380px;
  height: calc(100% - 62px);
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: left 0.3s ease;
}

.shelf.open {
  left: -1px;
}

.content {
  position: absolute;
  width: 380px;
  padding: 0 10px;
  top: 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

@-webkit-keyframes fadein {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1; 
    }
}

.tweet {
  -webkit-animation: fadein 1s ease;
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  width: 360px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.shelfHandle {
  position: absolute;
  top: 0px;
  right: -49px;
  width: 49px;
  height: 49px;
  color: #ccc;
}
.shelfHandle:hover {
}

@media (max-width: 978px) {
    body {
      padding:0;
    }
}