// VARIABLES

$small-font: 12px;
$medium-font: 14px;

// GENERAL
* {
  box-sizing: border-box;
}

html, body{
  height:100%; 
}


/* MAP STYLING *****************************************************************/
#map-canvas {
  height: 100%;
}

#map-canvas img {
  max-width: none;
}

@keyframes ping {
  from {
    transform: scale(0.25);
    opacity: 1.0;
  }
  to {
    transform: scale(1.0);
    opacity: 0;
  }
}

#map-canvas .ping {
  animation: ping 1.5s ease;
  border: 6px solid #fff;
  box-shadow: inset 0 0 5px #FA0096;

  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px; 
  border-radius: 20px;
}

@keyframes pop-in {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1.0);
  }
}

#map-canvas .map-tweet {
  animation: pop-in 0.25s ease;
  background: #333;
  border: 3px solid #333;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px; 
  border-radius: 20px;
}


/* TOP BAR STYLING */
.top-bar {
  width: 100%;
  height: 62px;
  background: #333333;
}

#logo {
  background: url('/img/oura-logo.png') no-repeat;
  display: inline-block;
  margin-left: 9px;
  height: 62px;
  width: 130px;
}


/* SIDEBAR STYLING ****************************************************************/
.sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 440px;
  padding: 0 40px;
  height: 100%;
  z-index: 1000;
  transition: left 0.3s ease;
  overflow-y: hidden;
}

.sidebar-content {
  width: 100%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-top: 1px solid #ddd;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; 
    }
}


/* SIDEBAR-TWEET STYLING *****************************************************************/

.stweet {
  animation: fadein 1s ease;
  display: block;
  position: relative;
  padding: 12px 12px;
  border-bottom: 1px solid #ddd;
  font-size: $medium-font;
}

.stweet:hover {
  background: rgba(0, 0, 0, 0.05);
}

.stweet-content {
  margin-left: 20px;
}

.stweet-profile-group:hover {
  text-decoration: none;
}

.stweet-name {
  color: #333;
  font-size: inherit;
}

.stweet-profile-group:hover .stweet-name {
  text-decoration: underline;
}

.stweet-screen-name {  
  font-size: $small-font;
  color: #999;
}

.stweet-profile-img {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid #333;
  background: #333;
}

.stweet-text {
  font-size: inherit;
  white-space: pre-wrap;

  a {
    font-size: inherit;
    color: #0084B4;
  }
}


/* MAPBOX STYLING *****************************************************************/
.mapbox {
  z-index: 1000;
}

.mapbox-content {
  position: absolute;
  top: -20px;
  left: 10px;
  overflow: hidden;
  width: 320px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mapbox-arrow {
  position: absolute;
  top: -10px;
  left: -10px;
  border-color: transparent rgba(255, 255, 255, 0.95) transparent transparent;
  border-style: solid;
  border-width: 10px;
}

.mapbox-arrow-shadow {
  position: absolute;
  top: -11px;
  left: -12px;
  border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
  border-style: solid;
  border-width: 11px;
}



/* MAPBOX TWEET STYLING *****************************************************************/

.mtweet {
  cursor: default;
  display: block;
  position: relative;
  padding: 8px 12px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  font-size: $small-font;
}

.mtweet:hover {
  background: rgba(0, 0, 0, 0.05);
}

.mtweet-profile-group:hover {
  text-decoration: none;
}

.mtweet-name {
  font-size: inherit;
  color: #333;
}

.mtweet-profile-group:hover .mtweet-name {
  text-decoration: underline;
}

.mtweet-screen-name {  
  color: #999;
}

.mtweet-time {
  color: #999;
  float: right;
}

.mtweet-text {
  white-space: pre-wrap;
  font-size: inherit;

  a {
    color: #0084B4;
    font-size: inherit;
  }
}



/* MEDIA QUERIES ****************************************************************/

@media (max-width: 978px) {
    body {
      padding:0;
    }
}

@media (max-width : 768px) {
  .sidebar {
    width: 100%;
    top: 50%;
    height: 50%;
  }

  .stweet {
    padding: 6px 12px;
    font-size: $small-font;
  }
}