html(lang='en', xmlns='http://www.w3.org/1999/xhtml', itemscope='itemscope', itemtype='http://schema.org/Product')
	include ./includes/head
	body
		div.main(ng-controller="MainController")
			div.interface(ng-controller="InterfaceController")
				div.top-bar
					a(href="/" id="logo")
				div.shelf(ng-class="{open: shelfOpen}")
					div.shelfHandle(ng-click="shelfOpen=!shelfOpen")
					div.content
						div.tweet(ng-repeat="point in shelfPoints | limitTo:15") {{point.text}}
			div(oura-map id="map-canvas")
		include ./includes/foot