html(lang='en', xmlns='http://www.w3.org/1999/xhtml', itemscope='itemscope', itemtype='http://schema.org/Product')
	include ./includes/head
	body
		div.main(ng-controller="MainController")
			div.interface(ng-controller="InterfaceController")
				div.top-bar
					a(href="/" id="logo")
				div.shelf(ng-class="{closed: shelfClosed}")
					div.shelfHandle(ng-click="shelfClosed=!shelfClosed")
					div.content(ng-view)
			div(oura-map id="map-canvas")
		include ./includes/foot