html(lang='en', xmlns='http://www.w3.org/1999/xhtml', itemscope='itemscope', itemtype='http://schema.org/Product')
	include ./includes/head
	body
		div.main(ng-controller="MainController")
			div.interface(ng-controller="InterfaceController")
				div.top-bar
					a(href="/" id="logo")
				div.sidebar(ng-class="{closed: sidebarClosed}")
					div.sidebar-handle(ng-click="sidebarClosed=!sidebarClosed")
					div.sidebar-content
						sidebar-tweet.stweet(ng-repeat="tweet in fullTweets | limitTo: fullTweetLimit" tweet="tweet" map="map" ng-mouseenter="addToMap()" ng-mouseleave="removeFromMap()")
			div(oura-map id="map-canvas")
		include ./includes/foot